<h2>View Item</h2>

<p>
  <strong>Task:</strong><br>
  <%= @item.content %>
</p>

<p>
  <strong>Category:</strong><br>
  <%= @item.category.title %>
</p>

<p>
  <strong>item ID:</strong><br>
  <%= @item.id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @item.created_at.strftime('%I.%M %p, %e %B %Y') %>
</p>

<p>
  <strong>Last updated at:</strong>
  <%= @item.updated_at.strftime('%I.%M %p, %e %B %Y') %>
</p>

<%= link_to 'Edit item', edit_category_item_path %><br>
<%= link_to 'Back to Index', categories_path %>