<%= form_with model: @category, local: true do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
        The category you're trying to save seems to be invalid:
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <strong><%= form.label :title, 'Enter title: ' %><strong><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <strong><%= form.label :description, 'Enter description: ' %><strong><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>